::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

@font-face {
    font-family:HoonWhitecatR;
    src:url('/src/HoonWhitecatR.ttf') format('truetype')
}
body {
    margin:0;
    font-family: HoonWhitecatR;
}
* {
    box-sizing: border-box;
}
.home_half {
    float: left;
    padding: 15px;
    width: 50%;
}
.header {
    width:100%;
    left: 0;
    right: 0;
    position : fixed;
    text-align: center;
    padding:10px;
    margin : auto;

}
.header a {
    cursor: pointer;
}

.header .username {
    position:fixed;
    right:0
}

.header .menu {
    text-align: center;
}
.header .menu > * {
    margin : 10px;
}


textarea {
    width : 200px;
    height:auto;
    padding:0;
    resize:none;
    border:none;
    outline:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    overflow-y:hidden;
    font-size:1.2em;
    background-color :transparent;

    font-family: HoonWhitecatR;
}
.writepost {
}
.writepost textarea{
    padding : 5px;
    text-align: left;
    border-bottom : 1px solid white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.writepost textarea:focus {
    border-bottom : 1px solid black;
}

.writepost button {
    background:none;
    font-size:1em;
    cursor: pointer;
    border: 1px solid transparent;

    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}
.writepost button:hover {
    border : 1px solid black;
}


.post {
    display:inline-block;
    position:absolute;
    padding:2px;
    border: 1px solid transparent;
    cursor: pointer;
}
.post:hover {
    border: 1px solid black;
}
.post:focus {
    border: 1px solid black;
}
.post.mine {
    z-index:1
}
.post.mine:hover {
    border: 1px solid blue;
}
.post.notmine {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: ease-in-out;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
}
.post.notmine textarea {
    cursor: pointer
}
.posthead .writer {
    display: inline-block;
}

.delete {
    display:inline-block;
    float:right;
}
.delete:hover {
    color:red
}

.div_chatlist {
    position: fixed;
    display:inline-block;
    padding:2px;
    border: 1px solid transparent;
    cursor: pointer;
    width:300px;
}
.div_chatlist:hover {
    border: 1px solid black;
}
.chatlist {
    padding:0;
    margin:0;
    list-style-type: none;

    max-height: 300px;
    overflow: auto;
}
.text_chatlist {
    padding:0;
    margin:0;
    border: 0;
    background-color: transparent;
    width:70%;

    outline:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;

    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;

}

.chatlist_li {
    text-align: left;
}

.btn_chatlist {
    padding:0;
    margin:0;
    border:0;
    background-color: transparent;
    width:30%;

    outline:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;

    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;

    cursor: pointer;
}
.btn_chatlist:hover {
    font-weight: bold;
}
.div_chatlist h4 {
    text-align: center;
    margin: 5px;
}
